div.pvs{
	display:none;
}
.newsfeed{
	font-family: 'Lato',sans-serif;
	border-bottom: 1px dotted gray; 
	padding: 15px 0 15px 0;
	width: 100%;
	height: 15%;
}
.feedimg{
	width:130px;
	height:90px;
}
p.feedpostedby{
	color:#000;
	font-weight:bold;
	font-size: 13px;
	line-height: 1.28;
}
p.feedmsg{
	color:gray;
	font-size: 13px;
	line-height: 1.38;
	text-align:justify;
	height:70px;
	overflow: hidden;
}
.feedbody{
	margin-left:4px;
	height:auto;
	width:75%;
}
p.likes{
	font-size:11px;
	text-align:bottom;
	color:#3b66a0;
}
span.likecount{
	color:#000;
}
span.right a{
	color:#3b66a0;
	text-decoration:underline
}
span.right a:hover{
	color:#fff;
}