div.pvs{
	display:none;
}
.newsfeed{
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	border-bottom: 1px dotted gray; 
	padding: 20px 0 15px 0;
	width:100%;
}
.feedimg{
	width:130px;
	height:90px;
}
p.feedpostedby{
	font-weight:bold;
	font-size: 13px;
	line-height: 1.28;
}
p.feedmsg{
	color:gray;
	font-size: 13px;
	line-height: 1.38;
	text-align:justify;
}
.feedbody{
	margin-left:4px;
	height:auto;
	width:80%;
}
p.likes{
	font-size:11px;
	text-align:bottom;
	color:gray;
}
span.likecount{
	color:#fff;
}
span.right a{
	color:gray;
	text-decoration:underline
}
span.right a:hover{
	color:#fff;
}
